@charset "UTF-8";
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
#next,
#back {
  z-index: 1000;
  position: absolute;
  top: 5px;
  left: 5px;
  color: #333;
  background-color: #ccc;
  font-size: 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 5px 10px;
  letter-spacing: 1px;
  font-size: 1rem;
}

#next {
  left: auto;
  right: 5px;
}

.slides {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
}

.slide {
  position: absolute;
  display: none;
  overflow: hidden;
  padding: 20px;
  color: white;
  box-sizing: border-box;
}

.past, .current, .future {
  display: block;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
}

.current {
  opacity: 1;
  visibility: visible;
}

.slide.intro {
  text-align: center;
  font-size: 2rem;
}

.slide.intro hgroup {
  margin-top: 200px;
}

.slide textarea.mynotes {
  -webkit-appearance: none;
  border: 1px #aaa solid;
  border-radius: 5px;
  width: 100%;
  font-size: 1.2rem;
  font-style: italic;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  padding: 5px;
  box-sizing: border-box;
}

td,
th {
  border: 1px solid #ccc;
  text-align: center;
}

.invalid {
  background-color: red;
}

.slide.section {
  text-align: center;
}

.slide li {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.slide img {
  max-height: 90%;
  border: 1px solid white;
  text-align: center;
}

.slide p {
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
}

body .slide {
  background-size: 100%;
}

.slide.bigbg {
  background-size: cover;
}
.slide.bigbg h1 {
  margin: 0 -2vw;
  padding: 0 2vw;
  background-color: rgba(0, 0, 0, 0.3);
}
.slide.bigbg .alt {
  color: rgba(0, 0, 0, 0.1);
  font-size: 1px;
}

.photocredit {
  color: #ccc;
  position: absolute;
  bottom: 1em;
  right: 1em;
}

:root {
  font-size: 220%;
  letter-spacing: 0.01em;
}

body {
  font-family: "Montserrat", "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
}

body,
#presentation {
  padding: 0;
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  overflow: scroll;
  background: #36115a;
}

.slide {
  background-image: linear-gradient(to bottom, #ffffff00, #ffffff99);
  background-image: conic-gradient(from 0deg at -5% 100%, #36115a, #6921b0 180deg);
}

.slide.intro {
  text-align: center;
  font-size: 2rem;
}

.slide.intro hgroup {
  margin-top: 200px;
}

.slide.large .content {
  font-size: 1.75rem;
}

.content {
  font-size: 1.5rem;
}
.content ul {
  padding-left: 1em;
}

.content input, button {
  font-size: 2rem;
}

.slide textarea.mynotes {
  -webkit-appearance: none;
  border: 1px #aaa solid;
  border-radius: 5px;
  width: 100%;
  font-size: 1.2rem;
  font-style: italic;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  padding: 5px;
  box-sizing: border-box;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, cursive, serif;
}

td, th {
  border: 1px solid black;
}

.invalid {
  background-color: red;
}

header {
  left: 30px;
  top: 25px;
  font-size: 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0px;
}

h2 {
  font-size: 1.8rem;
}

h1:first-child {
  margin-top: 0;
}

section, footer {
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  margin: 20px 30px 0;
  display: block;
  overflow: hidden;
}

footer {
  font-size: 1rem;
  margin: 20px 0 0 30px;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  line-height: 110%;
}

a:hover {
  text-decoration: underline;
}

pre {
  text-align: left;
  font-size: 1.5rem;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  border: 1px solid white;
}

pre b {
  font-weight: normal;
  color: #c61800;
  text-shadow: #c61800 0 0 1px;
}

p {
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
}

#next,
#back {
  z-index: 1000;
  position: absolute;
  top: 5px;
  left: 5px;
  list-style-type: none;
  -webkit-appearance: none;
  color: #333;
  font-size: 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background: linear-gradient(#fff 50%, #eee 50%, #ddd);
  border-radius: 7px;
  border: none;
  padding: 5px 10px;
  letter-spacing: 1px;
  font-size: 1rem;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3), 2px 2px 5px rgba(0, 0, 0, 0.7);
  border: 3px solid #eee;
}

#next {
  left: auto;
  right: 5px;
}

/* Content */
header {
  font-weight: normal;
  left: 30px;
  top: 25px;
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

section, footer {
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  margin: 20px 30px 0;
  display: block;
  overflow: hidden;
}

footer {
  font-size: 1rem;
  margin: 20px 0 0 30px;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  line-height: 110%;
}
a:hover {
  text-decoration: underline;
}

pre {
  text-align: left;
  font-size: 1.5rem;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.5);
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid white;
}
pre b, pre strong {
  font-weight: strong;
  color: #FFA500;
}

.floatright img {
  margin: 2px;
}

.hilite {
  font-weight: bold;
  font-style: italic;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

cite {
  text-align: right;
  display: block;
  margin-top: 1rem;
}

cite:before {
  content: "-";
}

a {
  color: #ccc;
}

.visibility {
  margin-top: 0;
}

.hidenotes {
  display: none;
}

li:hover .hidenotes {
  display: block;
  margin-top: 0;
  font-size: inherit;
  background-color: #DEDEDE;
  padding: 5px;
  font-weight: normal;
}

ol {
  font-size: 1.2rem;
  padding-left: 50px;
}

.resizeimg img {
  width: 100%;
}

.skiplink {
  opacity: 0;
}
.skiplink:focus {
  opacity: 1;
}

.slide[style*="url("]:not(.invert) .entireul,
.slide[style*="url("]:not(.invert) li {
  background-color: rgba(0, 0, 0, 0.4);
  padding-right: 0.2em;
}
.slide[style*="url("]:not(.invert) .entireul li {
  background-color: transparent;
}

.slide.invert {
  background: white;
}
.slide.invert p, .slide.invert li, .slide.invert h1 {
  color: black;
}

.invertfoo span {
  color: black;
  background-color: #fff6;
}

.contrast_text {
  color: magenta;
}

.solid.solid.solid {
  background: black;
}

.arrow {
  justify-content: flex-start;
  margin-right: 2em;
  background-image: linear-gradient(#0000 25%, magenta 25%, magenta 75%, #0000 75%);
  position: relative;
}

.arrow li {
  background-color: #fff;
  font-size: 0.6rem;
  font-family: serif;
  padding: 10px;
  margin: 5px;
  border: 1px solid magenta;
  border-radius: 5px;
  flex: 1;
  color: black;
  max-width: 6.5%;
  text-align: center;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.flex > li {
  position: relative;
}

.flex {
  display: flex;
  list-style-type: none;
}

.arrow::after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  left: 100%;
  top: 0.5em;
  border: 1.5em solid #0000;
  border-left-color: magenta;
}

.object object, .object .img {
  height: 100%;
  width: 100%;
}

.objectlink {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #7a8090;
  color: #FFF;
  padding: 5px 20px;
  border-radius: 0 0 0 40px;
  text-decoration: none;
  font-size: 0.8rem;
}

.TWEET blockquote {
  background-color: white;
  width: 80vw;
  margin: auto;
  border-radius: 10px;
  padding: 0.25em 0.5em;
  color: #333;
  font-family: "helvetica Neue", helvetica, arial;
  display: flex;
  align-items: flex-start;
  font-size: 1.2rem;
}
.TWEET blockquote > a > img {
  border-radius: 50%;
  float: left;
  height: 2em;
}
.TWEET blockquote div > a span:first-of-type {
  font-size: 1rem;
  color: #14171a;
  font-weight: 700;
}
.TWEET blockquote div > a span:last-of-type {
  font-size: 0.8rem;
  color: black;
}
.TWEET blockquote div > p {
  font-size: 1.2rem;
}
.TWEET blockquote div .date {
  color: #657786;
  font-size: 0.8rem;
  text-shadow: none;
  display: block;
  margin-top: 0.5em;
}

.tweet blockquote {
  font-size: calc((6vh + 6vw) / 2);
}

table {
  margin: auto;
  border: 1px solid #DEDEDE;
  border-collapse: collapse;
  border-spacing: 0;
}

.rowed tr:nth-of-type(even), .rowed th, .th th {
  background-color: #DEDEDE;
}

section td, section th {
  border: none;
  font-size: 30px;
  padding: 4px;
}

@media print {
  .slide {
    page-break-inside: avoid;
    page-break-after: always;
    visibility: visible !important;
    font-size: 20pt;
    font-family: Arial, sans-serif;
  }

  @page {
    size: landscape;
  }
  body {
    font-size: 12pt;
    background: white;
  }

  header h1 {
    border-top: 2pt solid gray;
    border-bottom: 1px dotted silver;
  }

  #presentation-counter, #info, #topinfo, .counter {
    display: none;
  }
}
ul.bulleted {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
ul.bulleted li {
  text-align: left;
}
ul.bulleted li::before {
  content: "▷ ";
}

.bulleted.second {
  position: relative;
  right: -8vw;
  align-items: flex-end;
}
.bulleted.second li {
  text-align: right;
}
.bulleted.second li::before {
  content: none;
}
.bulleted.second li::after {
  content: "▷ ";
  display: inline-block;
  transform: rotate(180deg);
}

ul.bulleted li.nope {
  padding: 0 3px;
  outline: solid 3px magenta;
}
ul.bulleted li.nope::before, ul.bulleted li.nope::after {
  content: none;
}

.temphidden {
  visibility: hidden;
}

dt::before {
  content: "♦ ";
}

dd {
  opacity: 0.6;
  margin-left: 1em;
  font-size: 0.9em;
}

.intro .foo {
  color: magenta;
}

.foo.bar {
  position: relative;
  height: 0.9em;
}

.foo.bar span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #36115a;
}

.intro em.foo {
  display: inline-block;
  width: 2.2em;
}

.intro .myname {
  text-align: left;
  margin-bottom: 4vh;
}

.intro.halved.current {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  flex-flow: column;
}

.books img {
  max-width: 13vw;
}

.dollar {
  transform: rotate(-20deg);
  font-size: 17vh;
  opacity: 0.5;
  display: inline-block;
  font-family: fantasy;
}

.dollar:nth-of-type(2n-1) {
  transform: rotate(20deg);
}

.dollar:nth-of-type(3n-2) {
  transform: rotate(0deg) translatey(-4vh);
}

.dollar:nth-of-type(5n) {
  transform: rotate(10deg) translatey(8vh);
}

.dollar:nth-of-type(7n) {
  transform: rotate(-10 deg) translatey(-8vh);
}

.bulleted.second {
  align-items: flex-end;
}

.tldr li {
  font-size: 6vh;
}

.tldr li em {
  display: inline-block;
  font-size: 1.25em;
  color: magenta;
}

video {
  width: calc(45vw - 100px);
  min-width: 260px;
}

.flex {
  display: flex;
  list-style-type: none;
}

.takeSpace {
  height: calc(100vh - 6em);
}

.notTheSame {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notTheSame h2 {
  text-align: center;
  padding: 0 20px;
  font-size: 2rem;
}

.list-of-images ul,
.list-of-images ol {
  display: flex;
  list-style-type: none;
  align-content: flex-start;
  margin: 0;
}

.list-of-images li {
  min-width: 13vw;
  flex: 0 0 150px;
  text-align: center;
  font-size: 0.5rem;
  line-height: 1;
}

.list-of-images ol li {
  font-size: 1rem;
}

.callout {
  color: red;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 20px;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: rotate(-30deg);
}

.future twitterwidget,
.past twitterwidget,
.future iframe,
.past iframe {
  opacity: 0;
}

.cloudfour {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
}

.cloudfour img {
  text-align: center;
  margin: 0 10px 0 0;
  border: 1px solid;
  padding: 20px 20px 0 0;
  background-color: #226DAA;
}

.cloudfour pre {
  letter-spacing: -5px;
}

ul.large > li:first-line,
ol.large > li:first-line {
  font-size: 1.5em;
}

/*# sourceMappingURL=index.css.map */
