/* Content */
header {
  font-weight: normal;
  left: 30px;
  top: 25px;
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
section, footer {
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  margin: 20px 30px 0;
  display: block;
  overflow: hidden;
}
footer {
  font-size: 1rem;
  margin: 20px 0 0 30px;
}
a{
  color: inherit;
  display: inline-block;
  text-decoration: none;
  line-height: 110%;

  &:hover {
    text-decoration: underline;
  }
}
pre {
  b, strong {
    font-weight: strong;
    color: #FFA500;
  }
}

.floatright img {margin: 2px;}

.hilite {
  font-weight: bold;
  font-style: italic;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}
cite {text-align: right; display: block; margin-top: 1rem;}
cite:before {content: '-';}
a {
    color: #ccc;
}
.visibility {
  margin-top: 0;
}
.hidenotes {
  display: none;
}
li:hover .hidenotes {
display: block;
margin-top: 0;
font-size: inherit;
background-color: #DEDEDE;
padding: 5px;
font-weight: normal;
}
ol {
  font-size: 1.2rem;
  padding-left:50px;
}
.resizeimg img {width: 100%;}
 
.skiplink {
  opacity: 0;
  &:focus {
    opacity: 1;
  }
}

.slide[style*="url("]:not(.invert) {
  .entireul, 
  li {
      background-color: rgba(0, 0, 0, 0.51);
      padding-right: 0.2em;
  }
  .entireul li {
    background-color: transparent;
  }

}
.slide.invert {
  background: white;
  p, li, h1 {
    color: black;
  }
}
.invertfoo span {
  color: black;
  background-color: #fff6;
}
.contrast_text {
  color: magenta;
}
.solid.solid.solid {
  background: black;
}


.shiny:nth-of-type(7n+1) .shiney {
  color: #f90f0f; /* red */
}
.shiny:nth-of-type(7n+2) .shiney {
  color: #fc8c00; /* orange */
}
.shiny:nth-of-type(7n+3) .shiney {
  color: #ffef00; /* yellow */
}
.shiny:nth-of-type(7n+4) .shiney {
  color: #19af3d; /* green */
}
.shiny:nth-of-type(7n+5) .shiney {
  color: #3b6ef9; /* blue */
}
.shiny:nth-of-type(7n+6) .shiney {
  color: #b033fd; /* purple */
}
.shiny:nth-of-type(7n) .shiney {
  color: #f716e6; /* fushia */
}
.alt {
  text-shadow: none;
}
.a11ybox {
  padding: 1em;
  background-color: rgba(0,0,0,0.5);
  margin-left: 10vw;
  float: left;
  width: 6em;
  text-align: center;
}
.superhugetext {
  font-size: calc((8vh + 8vw) / 2);
}

.hugetext {
  font-size: calc((6.5vh + 6.5vw) / 2);
}
